/* Defaults */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html { 
    background: url(website-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: #424242;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.25);
}

/* Different boxes */

.box {
    width: 100%;
    min-height: 150px;
}

.box2 {
    width: 100%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

section img {
    display: none;
}

/* Header items  */

header, section, div, footer, article {
    box-sizing: border-box;
}

header {
    margin: 0;
    min-height: 56px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.logo {
    width: 60px;
}

header h1 {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 0px 10px;
}

.menu {
    float: right;
    width: 38px;
    margin-top: 8px;
    display: inline-block;
    color: white;
}

/* Navbar Items (Designed for (min-width: 800px) */

nav {
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
  }

nav ul li{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 32.8%;
    padding: 24px;
    text-transform: uppercase;
}

nav a{
    color: black;
    text-decoration: none;
}

nav li:hover {
    background: red;
}



/* section items (Similair Properties that has to be added to more than one classes)*/

section.image, section.work-1 , section.work-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: White;
}

section.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section.work-1 a, section.work-2 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* Section.image Properties */

section.image {
    background: url(Images/Coloured.jpg);
    background-size: cover; 
}

section.image h1, section.image h2 {
}

.main-img {
    width: 100%;
}

/* Works content box */

section.content-2 {
    width: 100%;
}

/* section.work-1 Properties */

section.work-1 {
    background: url(Images/Brown.jpg);
    background-size: cover; 
}

.work1-img {
    width: 100%;
}

/* section.work-2 properties */

section.work-2 {
    background: url(Images/red_music.jpeg);
    background-size: cover; 
}

.work2-img {
    width: 100%;
}

/* About me box */

section.about-me, section.contact-us, section.book{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50' height='25' viewBox='0 0 50 25'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23000000' stroke-width='0.1'%3E%3Crect fill='%23050505' width='1' height='1'/%3E%3Crect fill='%23000000' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%230a0a0a' width='1' height='1' y='1'/%3E%3Crect fill='%230f0f0f' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23141414'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%231a1a1a'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23000000'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%231f1f1f'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23525252'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23525252'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='50' height='25'/%3E%3Crect fill='url(%23b)' width='50' height='25'/%3E%3Crect fill='url(%23c)' width='50' height='25'/%3E%3Crect fill='url(%23d)' width='50' height='25'/%3E%3Crect fill='url(%23e)' width='50' height='25'/%3E%3Crect fill='url(%23f)' width='50' height='25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

section.about-me p, section.contact-us p{
    margin: 1em;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

section.contact-us h1, section.about-me h1, section.book h1{
    margin: 1em;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

section.book {
    text-align: center;
}

.btn {
    /* default for <button>, but useful for <a> */
    display: block;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
  
    /* create a small space when buttons wrap on 2 lines */
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
  
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
  
    /* make sure colors have enough contrast! */
    color: black;
    background-color: white;
  }

  /* Footer elements */

footer{ 
    margin-top: 20px;
    background: whitesmoke;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.801);
}

footer ul li {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 32%;
}

footer ul li a {
    font-size: 9px;
    text-decoration: none;
}


