
/* Minor Breakpoints */

@media screen and (min-width: 350px) {
    
    .box, .box2 {
        min-height: 260px;
    }

    /* header items */
    .logo {
        width: 70px;
    }

    header h1 {
        font-size: 30px;
    }

    .menu {
        width: 44px;
    }

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 24px;
        margin-top: 20px;
    }

    section.about-me p, section.contact-us p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .inpt {
        padding: 10px;
        margin-top: 30px;
    }

}

@media screen and (min-width: 400px) {
    
    .box, .box2 {
        min-height: 270px;
    }

    .logo {
        width: 80px;
    }

    header h1 {
        font-size: 35px;
    }

    .menu {
        width: 50px;
    }

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 28px;
    }
}

@media screen and (min-width: 450px) {
    
    .box, .box2 {
        min-height: 280px;
    }

    .logo {
        width: 90px;
    }

    header h1 {
        font-size: 40px;
    }

    .menu {
        width: 56px;
    }

    section.image h1{
        font-size: 40px;
    }

    section.work-1 a, section.work-2 a {
        font-size: 30px;
    }

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 30px;
    }

    footer {
        padding: 7px;
    }

    footer ul li a {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    
    .box {
        min-height: 300px;
    }

    .logo {
        width: 100px;
    }

    header h1 {
        font-size: 45px;
    }

    .menu {
        width: 62px;
    }

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 34px;
    }
}

@media screen and (min-width: 550px) {
    
    .box {
        min-height: 310px;
    }

    .logo {
        width: 110px;
    }

    header h1 {
        font-size: 50px;
    }

    .menu {
        width: 68px;
    }

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 36px;
    }

    section.about-me p, section.contact-us p {
        font-size: 18px;
    }

    footer ul li a {
        font-size: 12px;
    }
}

@media screen and (min-width: 650px) {
    
    .menu {
        display: none;
    }

    .nav {
        background: black;
    }

    nav a {
        color: white;
    }

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 40px;
    }
}

/* Major Breakpoint */

@media screen and (min-width: 800px) {

    /* New Background */
    
    html { 
        background: url(website-background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /* Making some images visible  and some thing invisible*/
    
    section img {
        display: block;
    }

    .menu { 
        display: none;
    }

    section.image h1 {
        display: none;
    }

    /* setting box height to previous */

    .box {
        min-height: 150px;
    }

    /* Navbar changes */

    nav {
        width: 80%;
    }

    nav a {
        font-family: 'Montserrat', sans-serif;
    }

    /* Overlay effects for linked images */

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 36%;
        height: 100%;
        opacity: 0;
        background: black;
        transition: 0.5s ease;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .overlay-img-1{
        position: relative;
        width: 100%;
    }

    .overlay-img-1:hover .overlay {
        opacity: .7;
    }

    /* Header items  */
    header {
        box-shadow: 0 0 0 ;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    header h1 { 
        margin: 28px 0px 0px 0px;
        font-size: 52px;
        color: white;
    }

    header p {
        display: block;
        color: white;
        margin: 0;
        text-align: center;
        margin-top: -35px;
        margin-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .logo {
        width: 140px;
        margin: 0px 0px 0px 0px;
    }

    /* Section Items */

    section.image, section.work-1 , section.work-2 {
        display: block;
        color: Black;
        background: none;

    }

    section.work-1 a, section.work-2 a {
        color: white;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    /* section.image items */

    section.image {
        text-align: center;
        width: 50%;
    }

    /* content-2 changes */

    section.content-2 {
        width: 50%;
    }

    section.work-1 {
        text-align: center;
        width: 100%;
    }

    section.work-2 {
        text-align: center;
        width: 100%;
    }

    /* Section image changes */

    .main-img {
        width :80%;  
        margin-top: 40px; 
        float: right;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    .work1-img, .work2-img {
        margin-left: auto;
        margin-right: auto;
        width: 36%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    /* About, Contact and Book  */

    .box2 {
        width: 80%;
        border-radius: 10px;
        min-height: 300px;
    }

    /* Text and margin changes */

    section.contact-us h1, section.about-me h1, section.book h1{
        font-size: 50px;
        margin-top: 20px;
    }

    section.about-me p, section.contact-us p {
        font-size: 20px;
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-bottom: 30px;
    }

    .inpt {
        padding: 10px;
        margin-top: 30px;
    }

    /* footer changes  */
    
    footer {
        padding: 20px;
    }

    footer ul li a {
        font-size: 14px;
    }
}


